@model IEnumerable<LibPro.Models.Biblios>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_PortalLayout";
}



<div id="carouselBanner" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            if (i == 0)
            {
                <button type="button"
                        data-bs-target="#carouselBanner"
                        data-bs-slide-to="@i"
                        class="active"
                        aria-current="true"
                        aria-label="Slide @(i + 1)">
                </button>
            }
            else
            {
                <button type="button"
                        data-bs-target="#carouselBanner"
                        data-bs-slide-to="@i"
                        aria-label="Slide @(i + 1)">
                </button>
            }
        }
    </div>
    <div class="carousel-inner">
        @foreach (var item in Model)
        {

            var a = item == Model.First() ? "active" : "";

            <div class="carousel-item @a">
                <img src="~/ImgPath/@item.ImgPath" class="d-block " alt="@item.BTitle">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@item.BTitle</h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


